################################################################################
# Visual Studio / .NET Build Artifacts & Project Folders
################################################################################
**/bin/
**/bin/**
**/obj/
**/obj/**
**/[Dd]ebug/
**/[Dd]ebug/**
**/[Rr]elease/
**/[Rr]elease/**
[Bb]in/
[Oo]bj/
.vs/
/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

################################################################################
# Node / Next.js
################################################################################
**/node_modules/
**/node_modules/**
**/.next/
**/.next/**
out/
build/
.env*.local

################################################################################
# OS Files
################################################################################
.DS_Store
Thumbs.db
