<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://oohapi-b7eud8e8hzg0c8bp.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>de0a0ea9-c200-4d9b-99c2-c4e1e513b652</ProjectGuid>
    <PublishUrl>https://oohapi-b7eud8e8hzg0c8bp.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UserName>$oohapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>